<div class="container">
  <h2 class="title-lg mb"><%= t(".question") %> <%= @question.id %></h2>
  <p class="mt-sm"><%= link_to "#{t(".all_questions")} @#{@question.user.nickname}", user_path(@question.user) %></p>
</div>

<div class="mt-sm container">
  <%= render "question", question: @question %>
</div>
