body {
  background: #03071e;
  background-image: url("https://wallpapercave.com/wp/wp10117436.jpg");
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 40px;
  max-width: 800px;
  width: 100%;
}

.container {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
}

.container, .navbar {
  padding: 20px;
}

.container_tr {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.navbar {
  align-items: center;
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
}
